{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {{ include('@WebProfiler/Icon/ajax.svg') }}
        <span class="sf-toolbar-value">{{ collector.data | length }}</span>
        <span class="sf-toolbar-info-piece-additional-detail">
            <span class="sf-toolbar-label">in</span>
            <span class="sf-toolbar-value">{{ collector.totalTime }}</span>
            <span class="sf-toolbar-label">sec.</span>
        </span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b class="sf-toolbar-ajax-info">{{ collector.data|length }} requests in {{ collector.totalTime }} sec.</b>
        </div>
        <div class="sf-toolbar-info-piece">
            <table class="sf-toolbar-ajax-requests">
                <thead>
                <tr>
                    <th>~</th>
                    <th>Code</th>
                    <th>Method</th>
                    <th>Host</th>
                    <th>Uri</th>
                    <th>Timing (sec.)</th>
                </tr>
                </thead>
                <tbody class="sf-toolbar-ajax-request-list">
                {% for request in collector.data %}
                    <tr class="sf-ajax-request{{ request.statusCode == 200 ? ' sf-ajax-request-ok' : ' sf-ajax-request-error'}}">
                        <td>{{ loop.index }}</td>
                        <td>
                            <span class="sf-toolbar-status{{ request.statusCode != 200 ? ' sf-ajax-status-red'}}">{{ request.statusCode }}</span>
                        </td>
                        <td>{{ request.method }}</td>
                        <td>{{ request.host }}</td>
                        <td>{{ request.uri }}</td>
                        <td>{{ request.timing }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}